html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

a{
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
.container{
    max-width: 1030px;
    margin: 0px auto;
    padding: 0 15px;
}

.header{
    background-color: #e8ebf1;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__logo a{
    color: #2aacc8;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.header__logo a span{
    color: #000;
    font-weight: 900;
}

.header__menu a{
    font-family: 'arial', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.header__menu{
    margin-right: 20px;

}

.header__menu li{
    position: relative;
}

.header__menu li + li{
    margin-left: 50px;
}



.header__drop-down > a::after{
    content: "";
    background-image: url(../images/down-arrow.png);
    width: 7px;
    height: 5px;
    position: absolute;
    top: 7px;
    right: -16px;
}


.drop-down__list {
    display: none;
}