html{
    box-sizing: border-box;
    line-height: 1.2;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-image: url(../images/bg.jpg);
}

a{
    text-decoration: none;
    color: #b9b9b9;
}
h3{ margin: 0;}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;

}
p{
    margin: 0;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas', sans-serif;
    height: 78px;
}

.header__logo a{
    font-size: 36px;
    color: #f3af9d;
}

.header__logo a span{
    color: #e8603c;
}

.header__menu li + li{
    text-transform: uppercase;
    margin-left: 27px;
}

.header__menu-btn{
    width: 30px;
    display: none;
    border-radius: 2px;
    overflow: hidden;
}
.header__menu-row{
    height: 4px;
    background-color: #e8603c;
}
.header__menu-btn .header__menu-row + .header__menu-row{
    margin-top: 3px;
}


.menu__home{
    margin-right: -2px;
}

.header__menu a{
    font-size: 16px;
}

.header__link-active, .header__menu a:hover{
    color: #e8663c;
}

/*******************************************************************************/
.slider{
    position: relative;
}

.slider .container::after, .slider .container::before{
    content: "";
    min-height: 61px;
    background-color: rgba(232, 96, 60, .5);
    min-width: calc((100% - 940px)/2 - 10px);
    top: 0;
    position: absolute;
}

.slider .container::before{ left: 0; }
.slider .container::after{ right: 0; }

.slider__inner{
    position: relative;
}

.slider__item{
    background-color: #e8603c;
    position: relative;
    /* background-image: url(../images/slider-img1.jpg); */
    min-height: 400px;
}

.slider__item-text{
    position: absolute;
    max-width: 414px;
    background-color: rgba(232, 102, 60, .8);
    bottom: 32px;
    left: 36px;
    color: #fff;
    padding: 22px 19px;
}

.slider__item-text h3{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Bebas', sans-serif;
    font-weight: 400;
}

.slider__item-text p{
    font-size: 12px;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    padding-top: 15px;
}

.slider__thumbnails{
    margin-top: 17px;
}

.slider__thumbnails div + div{
    margin-left: 20px;
    margin-right: 0;
    padding: 0;
}

.slider__thumbnails-item{
    width: 140px;
    height: 120px;
    background-color: #e8663c;
    display: inline-block;
    cursor: pointer;
}

.slider__inner-thumbnails .slick-track{
    transform: translate3d(0px, 0px, 0px)!important;

}

.slick-next:before{
    content: url(../images/next-arrow.png);
}
.slick-prev:before{
    content: url(../images/previous-arrow.png);
}

.slick-next{
    right: 23px;
}
.slick-prev{
    left: 27px;
    z-index: 1;
}

.slick-next, .slick-prev{
    width: 36px;
    height: 52px;
    top: 46%;
}

.slick-prev:before, .slick-next:before{
    opacity: 0.902;
}

/**********************************************************/

.inner__content{
    padding-top: 39px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.contant__post{
    width: 300px;
}

.post__title{
    padding-left: 68px;
    padding-bottom: 30px;
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #e8663c;
    position: relative;
}

/* .post__title:first-line {
    line-height:100% !important;
} */

.post__icon{
    position: absolute;
    top: 5px;
    left: 0;
}

.gear-icon{
    top: 2px;
}



.post__text{
    padding-bottom: 20px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    width: 276px;
}

.post__more a{
    background-color: #e8663c;
    padding: 8px 15px 8px 13px;
    font-family: 'Bebas', sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.works-container{
    position: relative;
}

.resent-works__inner{
    position: relative;
    display: flex;
}

.resent-works__title{
    font-family: 'Bebas', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #e8603c;
    background-image: url(../images/line-works.png);
}

.resent-works__title span{
    display: inline-block;
    padding-right: 25px;
    background-color: #fff;
}

.resent-works__work{
    margin-top: 23px;
    margin-right: 20px;
    margin-bottom: 48px;
}

.work__image{
    height: 184px;
    background-color: #dbdbdb;
}

.work__text{
    border: 1px solid #dbdbdb;
    border-top: none;
}

.work__title{
    font-family: 'Bebas', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding-top: 13px;
    margin-left: 13px;
}

.work__date{
    font-family: 'Bebas', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    padding: 7px 13px 13px;
    color: #e8663c;

}

.footer{
    position: relative;
}

.footer__inner{
    background-color: #e8663c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 39px 34px 11px;
}

.about{
    width: 265px;
}

.widget{
    width: 220px;
}

.contacts{
    width: 265px;
}

.about__title, .widget__title, .contacts__title{
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 29px;
}

.footer p{
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    padding-bottom: 21px;
    

}


.contact__non-margin{
    margin: 0 !important;
    padding: 0 !important;
}

.text__message{
    padding-bottom: 21px;
}

.message__time{
    margin-top: 10px;
    display: block;
}

.text__message p{
    padding-bottom: 0;
}

.widget span{
    font-family: 'HelveticaNeueLight', sans-serif;
    color: #f1b09b;
}

.contacts__icons{
    padding-bottom: 21px;
}

.footer .container::after, .footer .container::before{
    content: "";
    max-height: 1061px;
    background-color: rgba(232, 96, 60, .5);
    min-width: calc((100% - 940px)/2 - 10px);
    top: 0;
    position: absolute;
    height: 100%;
}

.footer .container::before{ left: 0; }
.footer .container::after{ right: 0; }